{% extends 'base.html.twig' %}

{% block title %}Not Found{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <h1>Picture not found</h1>
    <p> Sorry, this page does not exist x) </p>
{% endblock %}

{% block script %}
{% endblock %}